include inmanta_plugins/testmodulev2conflict1/setup.cfg
recursive-include inmanta_plugins/testmodulev2conflict1/model *.cf
graft inmanta_plugins/testmodulev2conflict1/files
graft inmanta_plugins/testmodulev2conflict1/templates
